*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	}
	a{text-decoration:none;}
	
	.cards{
			width:400px;
			background-color:grey;
			margin-left:35%;
			margin-top:5%;
			text-align:center;
			padding:20px;
			color:white;
	}
	h1{
		padding:20px;
	}
	p{
		padding:20px;
	}
	
	#pro{
			width:100%;
		
	}
	
	#button{
			padding:15px 30px;
			background-color:white;
			display:block;
			width:200px;
			margin-left:20%;
			
		
	}